.breathe-route-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;


  .breathe-gif {
    height: 260px;
  }
}

.breathe-route-title {
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.5px;
}

.breathe-route-subtitle {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0.5px;
}

.breathe-route-bottom {
  display: flex;
  align-items: center;
  padding: 10px 100px;
  margin-top: 20px;
  justify-content: center;

  img {
    height: 40px;
  }

  p {
    margin-left: 30px;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
}

.breathe-route-return-home {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  color: white;
  padding: 20px 30px;
  background: var(--TempPrimaryColor, #1E4359);
}