@import "../../styling/breakpoints.scss";

.info-page-container-outer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  position: relative;

}

.info-page-header {
  display: flex;
  align-items: center;

  p {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: bold;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0.5px;
    // border: 1px solid red;
    width: 100vw;
  }
}

.info-page-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;

  img {
    height: 60px;
  }
}


.info-page-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  padding-right: 80px;

  div {
    // border: 1px solid red;
  }
}

.info-page-block-01 {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin: 10px 0px;
}

.info-page-block-02 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 28px;
  background: var(--atta-color-scheme-temp-text-background, #F9F9F9);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.30);
  margin: 10px 0px;
  padding: 20px 0px;

  .info-page-block-02-section-01 {
    img {
      height: 80px;
    }
  }

  .into-page-block-02-section-02 {

    .info-page-block-02-section-02-us-aqi {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin-right: 10px;
      }

      img {
        height: 28px;
        margin-left: 10px;
      }
    }

    .aqi-number {
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: center;
      // border: 1px solid blue
    }
  }

  .info-page-block-02-section-04 {
    display: flex;
    flex-direction: column;

    .first {
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5px;
      padding: 5px
    }

    .second {
      font-family: Montserrat;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 5px
    }
  }
}

.info-page-modal {
  position: absolute;
  top: 10%;
  left: 20%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid #000;
  background: var(--atta-color-scheme-temp-tertiary-background, #F5FAFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @include media('>1025px') {
    left: 28%;
  }

  @include media('>1400px') {
    top: 20%;
    left: 30%
  }


}

.info-page-modal-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FE9B57;

  padding: 5px;

  img {
    height: 70px;
  }
}

.info-page-modal-middle {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px 80px;

  .p-01 {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .p-02 {
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.5px;
  }

  .p-03 {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin: 5px 0px
  }

  .p-04 {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-top: 10px;
  }
}

.info-page-modal-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .modal-continue-button {
    border-radius: 16px;
    background: var(--TempPrimaryColor, #1E4359);
    color: white;
    padding: 16px 80px;
    border: none;
    font-size: 20px;

  }

  .modal-cancel-button {
    border-radius: 16px;
    background: white;
    color: #616161;
    padding: 16px 80px;
    border: none;
    font-size: 20px;
  }
}