@import "../../styling/breakpoints.scss";
@import "../../components/css/swipe.scss";

.landing-route-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  // background-color: var(--temp-tertiary-background, #F5FAFF);
  position: relative;

  img {
    
  }

  @include media('>1024px') {}

}

.outer-container-on-swipe {
  width: 100vw;


  @include media('>900px') {
    display: flex;
    align-items: center;
    justify-content: center;
    background: yellow
  }
}