@import "../../styling/breakpoints.scss";
@import "../../components/css/swipe.scss";

.landing-route-container {
  display: flex;
  height: 100vh;
  background-color: var(--temp-tertiary-background, #F5FAFF);
  position: relative;

  img {
    object-fit: contain;
  }

}