@import url('https://fonts.googleapis.com/css?family=Montserrat');

$project-font: "Montserrat";

.app-outer {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}