.pollutant-container {
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  background: var(--TempSecondaryColor, rgba(154, 199, 217, 0.60));
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.30);
  padding-bottom: 30px;
  margin-top: 20px;
}

.pollutant-section-top {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;

  button {
    border: none;
    background-color: transparent;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 30px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  button:focus {
    font-weight: bold;
  }
}

.pollutant-section-middle {
  display: flex;
  justify-content: space-around;
}

.pollutant-section-bottom {
  display: flex;
  justify-content: space-around;
}

.contributing-factor-middle {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.contributing-factor-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}