.popup-container {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 60px;
  margin-bottom: 1px;

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}