.scale-outer-container {
  display: flex;
  flex-direction: column;
  // border: 1px solid red;

  img {
    height: 20px;
  }

  .scale-numbers {
    display: flex;
    justify-content: space-between;

    p {
      font-family: Montserrat;
      font-size: 10px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
  }


}