@import "../../styling/breakpoints.scss";

$swipe-breakpoint-one: ">480px";
$swipe-breakpoint-two: ">520px";
$swipe-breakpoint-four: ">630px";

.swipe {
  width: 400px;
  height: 400px;
  padding: 32px;
  background: var(--temp-text-background, #f9f9f9);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: inline-flex;
  left: 500px;
  top: 100px;
  position: absolute;

  @include media(">1439px") {
    left: 550px;
    height: 500px;
    width: 500px;
    top: 100px
  }

}

.swipe-upper {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.swipe-header {
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.5px;
  word-wrap: break-word;

  @include media(">14px") {
    font-size: 17px;
  }
}

.swipe-description {
  display: none;

  @include media(">630px") {
    display: block;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  @include media(">710px") {
    font-size: 14px;
  }
}

.swipe-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 0px;

  img {
    height: 70px;

    @include media(">630px") {
      height: 70px;
    }

    @include media(">710px") {
      height: 90px;
    }
  }

  .swipe-by {
    display: none;

    @include media(">630px") {
      display: block;
      color: #000;
      font-family: Montserrat;
      font-size: 13px;
      font-style: italic;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 2px;
    }

    @include media(">710px") {
      font-size: 14px;
    }
  }

  .swipe-atta {
    text-align: center;
    color: #000;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    @include media(">710px") {
      font-size: 14px;
    }
  }
}

.swipe-lower {
  padding: 20px;
  background: var(--temp-primary-color, #1e4359);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .swipe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 50px;
    border: none;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    outline: none;

    .arrow {
      width: 100%;
      margin-right: 15px;
    }

    svg {
      height: 24px;
      width: 24px;
      fill: white;
      margin-right: 8px;
      /* Adjust the spacing as needed */
    }

    p {
      color: white;
      margin: 0;
      /* Reset margin for the `<p>` element */
      display: inline;
      /* Add display: inline to ensure the `<p>` element stays on the same line */
    }

    @media (min-width: 630px) {
      height: 40px;
    }

    @media (min-width: 710px) {
      width: 240px;
      font-size: 18px;
    }
  }
}