@import "../../styling/breakpoints.scss";

$swipe-breakpoint-one: ">480px";
$swipe-breakpoint-two: ">520px";
$swipe-breakpoint-four: ">630px";

.swipe-container {
  // border-radius: 16px;
  background: var(--temp-tertiary-background, #f5faff);
  // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
  // height: 230px;
  // width: 400px;
  // left: 100px;
  // top: 400px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 100vw;
  padding: 10px;

  @include media(">760px") {
    display: flex;
  }

  // @include media($swipe-breakpoint-one) {
  //   top: 350px;
  // }

  // @include media($swipe-breakpoint-two) {
  //   top: 320px;
  // }

  // @include media('>560px') {
  //   top: 270px
  // }

  // @include media($swipe-breakpoint-four) {
  //   left: 390px;
  //   height: 350px;
  //   top: 90px;
  //   width: 240px;
  // }

  // @include media('>710px') {
  //   padding: 20px;
  //   top: 65px;
  //   left: 380px;
  //   width: 320px;
  //   height: 380px;
  // }

  // @include media('>890px') {
  //   left: 500px
  // }

  // @include media('>1024px') {
  // }
}
.swipe {
  width: 710px;
  height: 634px;
  padding: 32px;
  background: var(--temp-text-background, #f9f9f9);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: inline-flex;
  left: 608px;
  top: 163px;
  position: absolute;
}
.swipe-upper {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.swipe-header {
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  @include media(">630px") {
    font-size: 17px;
  }
}

.swipe-description {
  display: none;

  @include media(">630px") {
    display: block;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  @include media(">710px") {
    font-size: 14px;
  }
}

.swipe-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 0px;

  img {
    height: 70px;

    @include media(">630px") {
      height: 70px;
    }

    @include media(">710px") {
      height: 90px;
    }
  }

  .swipe-by {
    display: none;

    @include media(">630px") {
      display: block;
      color: #000;
      font-family: Montserrat;
      font-size: 13px;
      font-style: italic;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 2px;
    }

    @include media(">710px") {
      font-size: 14px;
    }
  }

  .swipe-atta {
    text-align: center;
    color: #000;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    @include media(">710px") {
      font-size: 14px;
    }
  }
}

.swipe-lower {
  padding: 20px;
  background: var(--temp-primary-color, #1e4359);
  border-radius: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: inline-flex;

  .swipe-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 227px;
    height: 36px;
    background: var(--temp-primary-color, #1e4359);
    border: none;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    outline: none;

    p {
      color: white;
    }

    @include media(">630px") {
      height: 40px;
    }

    @include media(">710px") {
      width: 240px;
      font-size: 18px;
    }
  }
}
